.alojamiento {
  background: #dde2e9;
  color: #1f2937;
  font-family: Arial, Helvetica, sans-serif;

}

/* header */

.alojamiento header {
  min-height: 320px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  position: relative;
  color: white;
}

.alojamiento header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.35));
}

.alojamiento header * {
  position: relative;
  z-index: 1;
  max-width: 800px;
}

.alojamiento header p,
.alojamiento header h1 {
  margin: 0;
}

.alojamiento header p:first-child {
  margin-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.alojamiento header a {
  text-decoration: none;
  color: #fafafa;
}

.alojamiento header h1 {
  font-size: 42px;
  margin-bottom: 12px;
}

/* MAIN */

.alojamiento main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 5px;
  background: #fafafa;
  border-radius: 0 0 20px 20px;
  padding: 20px;
}

.alojamiento main p {
  grid-row: 1/2;
  grid-column: 1/7;
  padding: 20px;
  color: gray;
  font-size: 12px;
}

.alojamiento main section {
  padding: 5px;
  grid-row: 2/ 6;
  grid-column: 1/6;
  background: #fafafa;

}

.alojPubli1 {
  padding: 5px;
  grid-row: 6/7;
  grid-column: 1/6;
  border: solid rgb(160, 159, 158);
  border-radius: 20px;
}

.alojPubli2 {
  padding: 5ps;
  grid-row: 2/7;
  grid-column: 6/7;
  border: solid rgb(160, 159, 158);
  border-radius: 20px;
}

.subalojamientos {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 15px;
}

.subalojamientos h2 {
  font-size: 26px;
  color: black;

}

.subalojamientos article {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.subalojamientos article div {
  background: #ffffff;
  border: 1px solid #b7b7b8;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: initial;
}

.alojamiento article div:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.315);
}

.subalojamientos article div p {
  color: lab(44, -6.78, -7.9);
  padding: 5px;
  font-size: 14px;
}

.subalojamientos article div h3 {
  font-weight: 800;
  font-size: 18px;
  margin: 5px;
}

.subalojamientos article div span {
  color: lab(48.54, -27.42, -18.46);

}