.aventura {
    background: #dde2e9;
    color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
}

.aventura header {
    min-height: 320px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    position: relative;
    color: white;
}

.aventura header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.185), rgba(0, 0, 0, 0.205));
}

.aventura * {
    position: relative;
    z-index: 1;
}

.aventura header p,
.aventura header h1 {
    margin: 0;
}

.aventura header p:first-child {
    margin-bottom: 13px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.aventura header p a {
    text-decoration: none;
    color: #fafafa;
}

.aventura header h1 {
    font-size: 56px;
    margin-bottom: 12px;
}

/* main */

