footer {
    background-color: #4d4a4a;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}


footer div p {
    margin: 0;
    font-size: 10px;
}

footer div p:hover {
    color: #001180;
}

.footer-social img {
    width: 26px;
    height: 26px;
    margin: 0 20px;
}