 nav {
    background-color: rgb(233, 236, 238);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
 }

 .navbar a {
    color: rgb(53, 48, 48);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease;
 }

 nav div {
    display: flex;
    align-items: center;
    gap: 5px;
 }

 .logoname {
    font-size: 20px;
    font-weight: bold;
    color: rgb(36, 35, 35);
    text-decoration: none;
    padding: 5px 10px;
 }

 .logoname-span {
    color: #328663;
 }

 .logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
 }

 .login-container {
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .login {
    padding: 5px 10px;
    background-color: #d19a46;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-weight: 600;
 }

 .list-container {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    /* position: absolute; */

 }
 .list-container li  {
   display: flex;

   position:relative;
   
 }

 .list-header {
    position: relative;
    list-style: none;
 }
 .list-header li {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    list-style: none;
   
 }
